<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My recipes</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Welcome to my recipes website!</h1>
    <div>Click on a link to view the recipe:</div>
    <ul>
        <!-- List of links to recipes -->
        <% for (let recipe of data) { %>
            <li class="recipe_list"> <a href="./recipes/<%= recipe.key %>"> <%= recipe.name %> </a> </li>
        <% } %>
    </ul>
    <script src="app.js"></script>
</body>
</html>